## Basic Python

In [ ]:
print('Wahyu Ariprasasmita')
print('Data Scientist')
print("Wahyu \
    Ariprasasmita")

## Variable

In [2]:
#String
'''Mencetak String'''

namaKaryawan= 'James'
NamaKaryawan= 'James'
nama_karyawan= 'James'

In [6]:
#Integer
'''Mencetak Integer'''

angka_int= 2
angka_float= 2.2
print(type(angka_int))
print(type(angka_float))
#print(type(nama))

<class 'int'>
<class 'float'>

In [5]:
#Boolean
'''Mencetak Boolean'''

print(8 >= 9)
print(10 >= 9)

False
True

## Operator

In [11]:
x= 5
y= 20
print(x + y)
print(x - y)
print(x / y) #Float
print(x // y) #Integer
print(x ** y) #Pangkat
print(y % x) #Modulus / Sisa Bagi

30
-10
0.5
0
100000000000000000000
0

In [ ]:
print(x >= y)
print(x <= y)
print(x < y)
print(x == y)
print(x != y)

In [29]:
x=2
y=5
x=y
print(x)

5

## Casting

In [ ]:
x = 2.589
y = 2
z = '5'

print(int(x))
print(float(y))
print(float(z))
print(str(x)+'2') #concat
print(x+y)
print(z+str(y)) #concat
print(round(x)) #satu angka koma
print(round(x,2)) #dua angka koma

## String

In [35]:
nama= 'wahYu AriprasaSmita'
garis= '='

print(nama.capitalize())
print(nama.lower())
print(nama.swapcase())
print(nama*2)
print(garis*10)
print(nama)
print(len(nama)) #mengetahui jumlah karakter

Wahyu ariprasasmita
wahyu ariprasasmita
WAHyU aRIPRASAsMITA
wahYu AriprasaSmitawahYu AriprasaSmita
==========
wahYu AriprasaSmita
19

## List

In [65]:
#Tuple = data berubah dan manipulasi
#List = data tidak berubah

listKendaraan= ['Motor', 'Mobil', 'Kereta', 'Sepeda', 'Pesawat']
print(listKendaraan)

['Motor', 'Mobil', 'Kereta', 'Sepeda', 'Pesawat']

In [59]:
print(listKendaraan[4]) # index mulai dari 0
print(len(listKendaraan))
print(listKendaraan[0:4])
print(listKendaraan[0:6:2]) #Start, end, step
print(listKendaraan[-3])
print(listKendaraan[-3 : -1])

Pesawat
5
['Motor', 'Mobil', 30, 'Sepeda']
['Motor', 30, 'Pesawat']
30
[30, 'Sepeda']

In [62]:
#Mengubah nama list

print(listKendaraan)

listKendaraan[2] = 30
print(listKendaraan)

['Motor', 'Mobil', 'Kereta', 'Sepeda', 'Pesawat']
['Motor', 'Mobil', 30, 'Sepeda', 'Pesawat']

In [76]:
listKendaraan= ['Motor', 'Mobil', 'Kereta', 'Sepeda', 'Pesawat', 'Becak']
listKendaraan[1:4] = [20]
print(listKendaraan)

['Motor', 20, 'Pesawat', 'Becak']

In [73]:
listKendaraan.insert (2, 'gojek')
print(listKendaraan)

['Motor', 20, 'gojek', 'Pesawat', 'Becak']

In [77]:
listKendaraan.append('gojek')
print(listKendaraan)

['Motor', 20, 'Pesawat', 'Becak', 'gojek']

## Menambahkan Data List

In [78]:
listKendaraan= ['Motor', 'Mobil', 'Kereta', 'Sepeda', 'Pesawat', 'Becak']
listBinatang= ['Kucing', 'Kura-kura', 'Tikus', 'Laba-laba']

listKendaraan.append(listBinatang) #List dalan list
print(listKendaraan)

['Motor', 'Mobil', 'Kereta', 'Sepeda', 'Pesawat', 'Becak', ['Kucing', 'Kura-kura', 'Tikus', 'Laba-laba']]

In [80]:
listKendaraan= ['Motor', 'Mobil', 'Kereta', 'Sepeda', 'Pesawat', 'Becak']
listBinatang= ['Kucing', 'Kura-kura', 'Tikus', 'Laba-laba']

listKendaraan.extend(listBinatang) #List jadi satu
print(listKendaraan)

['Motor', 'Mobil', 'Kereta', 'Sepeda', 'Pesawat', 'Becak', 'Kucing', 'Kura-kura', 'Tikus', 'Laba-laba']

## Menghapus data atau element list

In [81]:
listBinatang= ['Kucing', 'Kura-kura', 'Tikus', 'Laba-laba']
listBinatang.remove('Tikus')

print (listBinatang)

['Kucing', 'Kura-kura', 'Laba-laba']

In [82]:
listBinatang= ['Kucing', 'Kura-kura', 'Tikus', 'Laba-laba']
listBinatang.pop(2)
listBinatang.pop() #Menghapus index terakhir

print (listBinatang)

['Kucing', 'Kura-kura']

In [84]:
listBinatang= ['Kucing', 'Kura-kura', 'Tikus', 'Laba-laba']
del listBinatang[2]
print (listBinatang)

['Kucing', 'Kura-kura', 'Laba-laba']

In [86]:
listBinatang= ['Kucing', 'Kura-kura', 'Tikus', 'Laba-laba']
listBinatang.clear()
print(listBinatang)

[]

## Tuple

In [87]:
#Saat menggunakan data fungsi
#Tuple = data berubah dan manipulasi
#List = data tidak berubah

tupleBinatang= ('Kucing', 'Kura-kura', 'Tikus', 'Laba-laba')
print(tupleBinatang)

#Tuple Tidak Bisa Ubah Data

('Kucing', 'Kura-kura', 'Tikus', 'Laba-laba')

In [ ]:
tupleBinatang[2] = 30
print(tupleBinatang)

#AKAN ERROR

In [88]:
tupleBinatang= ('Kucing', 'Kura-kura', 'Tikus', 'Laba-laba')
binatang= list(tupleBinatang)
binatang[2] = 30
tupleBinatang= tuple(binatang)
print(tupleBinatang)

('Kucing', 'Kura-kura', 30, 'Laba-laba')

# Set

In [94]:
#Set Tidak Berurutan

#Tuple = data berubah dan manipulasi
#List = data tidak berubah

setBinatang= ('Kucing', 'Kura-kura', 'Tikus', 'Laba-laba')
print(setBinatang)

('Kucing', 'Kura-kura', 'Tikus', 'Laba-laba')

In [105]:
setBinatang= {'Kucing', 'Kura-kura', 'Tikus', 'Laba-laba'}
setBinatang.add('Katak')
print(setBinatang)

{'Kucing', 'Katak', 'Tikus', 'Kura-kura', 'Laba-laba'}

# Dictionary

In [103]:
dictDataSiswa = {
    'nama': 'Joko',
    'kelas': 'Batch-17',
    'umur': 20
}
print(dictDataSiswa)

{'nama': 'Joko', 'kelas': 'Batch-17', 'umur': 20}

In [107]:
print(dictDataSiswa['nama'])
print(dictDataSiswa.keys())
print(dictDataSiswa.values())
print(dictDataSiswa.items())

Joko
dict_keys(['nama', 'kelas', 'umur'])
dict_values(['Joko', 'Batch-17', 20])
dict_items([('nama', 'Joko'), ('kelas', 'Batch-17'), ('umur', 20)])

In [108]:
dictDataSiswa['nama'] = 'Wahyu'
print(dictDataSiswa['nama'])
print(dictDataSiswa)

Wahyu
{'nama': 'Wahyu', 'kelas': 'Batch-17', 'umur': 20}

In [109]:
dictDataSiswa.pop('kelas')
print(dictDataSiswa)

{'nama': 'Wahyu', 'umur': 20}

In [118]:
# nested dictionary
people = {'kelompok_1': {'name': 'Wahyu', 'age': '25', 'sex': 'M'},
          'kelompok_2': {'name': 'Frisca', 'age': '25', 'sex': 'M'}}

print(people['kelompok_2']['name'])
print(people)

Frisca
{'kelompok_1': {'name': 'Wahyu', 'age': '25', 'sex': 'M'}, 'kelompok_2': {'name': 'Frisca', 'age': '25', 'sex': 'M'}}

In [122]:
dictDataSiswa = {
    'nama': 'Joko',
    'kelas': 'Batch-17',
    'umur': 20
}

dictDataSiswa['batch'] = dictDataSiswa['kelas']
del dictDataSiswa['kelas']
print(dictDataSiswa)

{'nama': 'Joko', 'umur': 20, 'batch': 'Batch-17'}